<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
</head>
<body>

<div class="container">
    <h1 style="color: aqua">Login Page</h1>
    <form class="col-5" th:action="@{/userlogin}" th:object="${user}" method="post">
        <label><h5>UserName</h5></label>
        <input type="text" class="form-control" th:field="*{userId}">
        <label><h5>Password</h5></label>
        <input type="password" class="form-control" th:field="*{password}">
        <button type="submit" class="btn btn-success">Login</button>
    </form>

</div>


</body>
</html>